/*sempre por var()*/
:root { 
  --background-color: #2f2f2f;
  --border-bottom: #e2e2e2;
  --border-color: #444444;
  --primery-color: #008EA2;
  --primery-color-900: #2F4858;
  --input-color: #3D3D3D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--border-bottom);
  font-family: 'Roboto', sans-serif;
}
header {
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--border-bottom);
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 7rem );
  align-items: center;
  justify-content: center;
  background-color: rgba(0 , 0, 0, 0.5);
}

.container > h1 {
  margin-bottom: 1rem;
}

.input__group {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  border-radius: 8px;
}

.input__group > label { 
  margin-bottom: 0.5rem;
  color: #2f2f2f;
}

.input__group > input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #c7c5c5;
  color: var(--input-color);
  border: var(--border);
}

button {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--border-bottom);
  border: 3px;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  transition: 1s;
  background-color: var(--primery-color);
}


button:hover{
  background-color: var(--primery-color-900);
}

footer {
  height: 2rem;
  display: flex;
  align-items: center;

  justify-content: center;

  border-top: 1px solid var(--border-bottom);
}

footer > p {
  font-size: 0.5rem;
}
.button::before{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  outline: 2px solid;
  padding: 30px 60px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
}
.button:hover::before{
  width: 150%;
}
.animated-background {
  background: linear-gradient(
    to right, #008EA2, #71D891, #F9F871);
    background-size: 400% 400%;
    animation: animated-background 10s infinite ease-in-out;
}
@keyframes animated-background {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
    }
  }


